@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #0f6fec;
  --transation: 0.5s;
  --swiper-navigation-size: 22px !important;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eff2f6 !important;
}

.texting {
  width: 100%;
  height: 100%;
  background: #1f1f1f;
}

#particles-js {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
@media(max-width:767px){
  #particles-js {
    z-index: 1;
  }
}
.header {
  background-color: #fff !important;
}
.header.sticky-top{
  z-index: 9 !important;
}
.header .box {
  height: 72px;
}

.header .left-section form input {
  width: 220px;
  padding: 7px 33px;
  border: 1px solid #ccc;
  background-color: #eef0f2;
  outline: none;
  border-radius: 6px;
  caret-color: var(--main-color);
  transition: var(--transation);
}

.header .left-section form input:hover,
.header .left-section form input:focus {
  border: 1px solid var(--main-color);
}

.header .left-section form #search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: var(--main-color);
  cursor: pointer;
}

.header nav .links li a {
  display: block;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 15px;
  text-transform: capitalize;
  font-weight: 500;
  color: #676a79;
  transition: var(--transation);
}

@media(max-width:992px) {
  .header nav .links {
    position: fixed;
    right: 0;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    top: -100%;
    justify-content: center;
    box-shadow: 0 0 10px #ddd;
    border-radius: 6px;
    z-index: 9999;
    transition: 1.5s;
    padding-bottom: 6px;
  }

  .header nav .links li:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
}

.header nav .links.show {
  top: 77px;
  transition: var(--transation);
  padding-bottom: 7px !important;
}

.header nav .links .nav-link:hover,
.header nav .links .nav-link.active {
  color: var(--main-color);
}


.header .info li a {
  background-color: #eef0f2;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  text-align: center;
  color: #676a79;
  margin-left: 16px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: var(--transation);
  position: relative;
}

.header .info li span.number {
  position: absolute;
  top: 8px;
  width: 15px;
  border-radius: 25px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 9px;
}

.header .info li span.dots {
  width: 10px;
  height: 10px;
  background: rgb(2, 216, 113);
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 25px;
}

@media (max-width:992px) {
  .header .info li a {
    margin-left: 5px;
    padding: 6px;
  }
}

.header .info li a:hover,
.header .info li a:focus {

  color: var(--main-color);

}

.header .info li img {
  width: 50px;
  margin-left: 16px;
  border-radius: 6px;
}

@media(max-width:992px) {
  .header .info li img {
    margin-left: 5px;
  }
}

.header nav .toggle {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #eef0f2;
  border-radius: 6px;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  cursor: pointer;
  transition: var(--transation);
  justify-content: center;
  font-size: 26px;
}

.header nav .toggle:hover,
.header nav .toggle:focus {
  background-color: #f45;
  color: white;
}

.dropdown-menu {
  width: 200px;
  border: 1px solid #f2f2f2 !important;
}

.dropdown-menu .dropdown-item.active {
  color: var(--main-color);
}

.dropdown-menu .dropdown-item:hover {
  color: var(--main-color);
}

@media(max-width:992px) {
  .dropdown-menu {
    width: 100%;
    top: -10px !important;
    background-color: #f9f9fa !important;
  }

  .dropdown-menu li {
    border: none !important;
  }
}

.header nav .links li a:hover,
.header nav .links li a.active {
  background-color: transparent !important;
}

.links form input {
  width: 95%;
  padding: 8px 41px;
  background-color: #eef0f2;
  border: 1px solid #ccc;
  border-radius: 6px;
  caret-color: var(--main-color);
  outline: none;
  transition: var(--transation);
}

.links form input:hover,
.links form input:focus {
  border: 1px solid var(--main-color);
}

.links form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 15px;
  color: var(--main-color);
}

/* End Header */
/* start content */
.row .box .image img.first {
  width: 100%;
  height: 50px;
  object-fit: cover;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

@media(max-width:992px) {
  .row .box {
    margin-top: 60px;
  }
}

.row .box .image img.second {
  width: 60px;
  padding: 3px;
  background-color: white;
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.row .content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 7px;
}

@media(max-width:992px) {
  .row .content {
    position: fixed;
    width: 100%;
    top: 72px;
    left: 0;
    z-index: 99;
    transform: translateX(-200%);
    transition: 1s;
  }
}

.menu-open {
  transform: translateX(0) !important;
}

#Exit {
  position: absolute;
  top: 20px;
  z-index: 555;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--transation);
}

#Exit:hover {
  color: #f45;
}

.row .box .text h2 {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 0;
}

.row .box .text span {
  color: #777;
  font-size: 15px;
  font-weight: 400;
  display: block;
}

.row .box .text p {
  max-width: 250px;
  color: #555;
  margin: 10px auto;
  padding: 0 10px;
}

.row .box .details .follow {
  padding: 0 10px;
}

.row .box .details .follow:not(:last-of-type) {
  border-right: 1px solid #ccc;
}

.row .box .details .follow h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--main-color);
}

.row .box .details .follow span {
  color: #777;
  font-size: 15px;
}

.row .content .side {
  border-top: 1px solid #ccc;
}

.row .content .side .info-srv .content-srv img {
  width: 30px;
}

.row .content .side .info-srv .content-srv h2 {
  margin-bottom: 0;
  margin-left: 10px;
  color: #676a79;
  font-size: 16px;
  transition: var(--transation);
  cursor: pointer;
}

.row .content .side .info-srv .content-srv h2:hover,
.row .content .side .info-srv .content-srv h2.active {
  color: var(--main-color);
}

.content .view {
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--main-color);
  margin: 15px auto 0;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: var(--transation);
  position: relative;
  z-index: 2;
}

.content .view::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #1f1f1f;
  transition: 1s;
  z-index: -1;
}

.content .view::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #1f1f1f;
  transition: 1s;
  z-index: -1;
}

.content .view:hover::before,
.content .view:hover::after {
  width: 50%;
}

.content .view:hover {
  color: white;
}

.user-info {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-info li {
  font-size: 14px;
  font-weight: 500;
  color: #777;
  cursor: pointer;
}

.copyright {
  text-align: center;
  margin: 10px auto;
  font-size: 15px;
  color: #333;
}

.copyright span {
  color: var(--main-color);
}

.menu {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* End content */

/* Start Middle */
/* Head Top */

.head-top .swiper {
  height: 300px;
}

.head-top .swiper .box-head {
  position: relative;
}

.head-top .swiper .box-head .image img {
  width: 100%;
  min-height: 300px;
  border-radius: 6px;
}

.head-top .swiper .box-head .text {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 12px;
}

.head-top .swiper .box-head .text h4 {
  font-size: 14px;
  color: #fff;
}

.people .swiper {
  width: 100%;
  height: auto;
}



@media(max-width:992px) {
  .swiper {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
  }
}

.head-top .box-info .image img {
  width: 100%;
  min-height: 250px;
  border-radius: 10px;
  object-fit: cover;
}

@media(max-width:992px) {
  .head-top .box-info .image {
    width: 100% !important;
  }
}

.head-top .box-info {
  cursor: pointer;
}

.head-top .box-info h2 {
  position: absolute;
  bottom: 15px;
  font-size: 13px;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.head-top .box-head .image {
  position: relative;
  border-radius: 10px;
}

.head-top .box-head .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  box-shadow: 0 -100px 15px 0 #00000096 inset;
  border-radius: 10px;
}

@media (max-width:992px) {
  .head-top .box-info h2 {
    left: 50%;
  }
}

@media(max-width:767px) {
  .head-top .box-info .image img {
    min-height: 260px;
  }
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: #f2f2f2 !important;
  transition: var(--transation);
}

.swiper-button-next:hover,
.swiper-rtl .swiper-button-prev:hover,
.swiper-button-next:focus,
.swiper-rtl .swiper-button-prev:focus {
  color: var(--main-color) !important;
  font-weight: bold;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: #f2f2f2 !important;
  transition: var(--transation);
}

.swiper-button-prev:hover,
.swiper-rtl .swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-rtl .swiper-button-next:focus {
  font-weight: bold;
  color: var(--main-color) !important;
}

/* End Head Top */
/* start Cards */
.cards-body {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 20px auto;
}

.cards-body .prof-photo img {
  width: 50px;
  clip-path: circle(50%);
  object-fit: cover;
}

.cards-body form textarea {
  width: 100%;
  border: none;
  outline: none;
  caret-color: var(--main-color);
  height: 100px;
  padding: 10px 15px;
}

.cards-body .info-box {
  margin: 0;
  margin-left: 15px;
  cursor: pointer;
  transition: var(--transation);
}

.cards-body .info-box:first-child {
  margin-left: 0 !important;
}

@media(max-width:767px) {
  .cards-body .info-box {
    margin-left: 5px;
  }
}

.cards-body .info-box .image img {
  width: 20px;
}

.cards-body .info-box h2 {
  font-size: 12px;
  margin: 0;
  cursor: pointer;
  transition: var(--transation);
  margin-left: 5px;
  color: #676a79;
}

@media(max-width:767px) {
  .cards-body .info-box h2 {
    font-size: 8px;
    margin: 0;
    font-weight: 700;
    margin-top: 2px;
    margin-left: 2px;
  }
}

.cards-body .info-box:hover h2 {
  color: var(--main-color);
}

#post {
  display: inline-flex;
  margin-left: auto;
  text-transform: uppercase;
  transition: var(--transation);
}

/* End  */
/* Start user-details */
.user-details {
  background-color: #fff;
  padding: 10px 15px 1px;
  border-radius: 6px;
}

.user-details .user-top .image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--main-color);
  padding: 2px;
}

.user-details .user-top .text {
  margin-left: 10px;
}

.user-details .user-top .text h3 {
  margin-bottom: 1px;
  font-size: 17px;
  cursor: pointer;
}

.special-1 {
  border-radius: 10px !important;
}

.user-details .user-top .text span {
  font-size: 12px;
  font-weight: 500;
  color: #777;
  margin-top: -2px;
  display: block;
}

.user-details .user-top #dots {
  font-size: 22px;
  color: #676a79;
  cursor: pointer;
  transition: var(--transation);
}

.user-details .user-top #dots:hover {
  color: var(--main-color);
}

.user-details .user-top .warn {
  position: absolute;
  right: -10px;
  background: #fff;
  width: 250px;
  padding: 0;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 6px;
  z-index: 5555;
  opacity: 0;
  pointer-events: none;
  transition: 1s;
}

.user-details .user-top .warn.openmenu {
  opacity: 1;
  pointer-events: all;
}

.user-details .user-top .warn li {
  padding: 10px;
  transition: var(--transation);
  cursor: pointer;
}

.user-details .user-top .warn li:first-child {
  border-bottom: 1px solid #ccc;
}

.user-details .user-top .warn li:last-child {
  border-top: 1px solid #ccc;
}

.user-details .user-top .warn li:hover {
  background-color: #f2f2f2;
}

.user-details .user-top .warn li a i {
  font-size: 22px;
  color: var(--main-color);
}

.user-details .user-top .warn li .text h2 {
  margin-bottom: 0;
  font-size: 16px;
  cursor: pointer;
}

/* End user-details */
/* Start user-content */
.user-content .arabic {
  direction: rtl;
  line-height: 1.7;
  color: #333;
}

.user-content img {
  width: 100%;
  margin-top: -12px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.user-details .user-top .image img.bor-imp {
  border: none !important;
}

.bor-imp {
  border: none !important;
}

#laugh {
  width: 30px !important;
  margin-bottom: 0 !important;
  margin-top: -1px !important;
}

#comic-1 {
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  object-fit: cover;
}

.user-content p span {
  color: var(--main-color);
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

.user-content .like-content .right-likes i:first-child {
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  clip-path: circle();
}

.user-content .like-content .right-likes i:nth-child(2) {
  width: 25px;
  height: 25px;
  background-color: #f45;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  clip-path: circle();
  margin-left: -10px;
  color: white;
}

.user-content .like-content .right-likes span {
  font-size: 19px;
  display: inline-flex;
  font-weight: 500;
  cursor: pointer;
  color: #676a79;
}

.user-content .like-content .left-likes p {
  margin: 0;
  font-size: 16px;
  color: #676a79;
}

.user-content .like-content .left-likes span {
  font-size: 15px;
  color: #777;
  padding: 0 5px;
}

/* End user-content */
/* Start pop-likes */
.pop-likes {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.pop-likes .box-likes {
  flex-basis: 33%;
  transition: var(--transation);
  cursor: pointer;
  height: 30px;
}

.pop-likes .box-likes:hover {
  background-color: #f2f2f2;
}

.pop-likes .box-likes a i {
  font-size: 22px;
  margin-right: 10px;
  color: #676a79;
}

.pop-likes .box-likes h2 {
  font-size: 17px;
}

/* End pop-likes */
/* Start user-replay */
.user-replay .collection .image img {
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  padding: 2px;
  border: 2px solid var(--main-color);
  margin-right: 6px;
}

.user-replay .collection form input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  outline: none;
  background-color: #eef0f2;
  caret-color: var(--main-color);
  border-radius: 6px;
}

.user-replay .collection form .icons {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-15%, -50%);
}

@media(max-width:768px) {
  .user-replay .collection form .icons {
    transform: translate(-7%, -50%);
  }
}

.user-replay .collection form .icons i {
  font-size: 17px;
  margin-right: 5px;
  color: #777;
}

/* End user-replay */
/* Start Replay */
.replay .replay-srv .image img {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  object-fit: cover;
}

.replay .replay-srv .text {
  display: flex;
  flex-wrap: wrap;
  background-color: #eef0f2;
  padding: 10px 15px;
  border-radius: 6px;
  margin-left: 6px;
}

.replay .replay-srv .text h2 {
  margin-bottom: 0;
  font-size: 18px;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}

.replay .replay-srv .text p {
  margin: 0;
  line-height: 1.7;
  color: #333;
  margin-left: auto;
}

.replay .likly {
  margin-left: 65px;
  margin-top: 2px;
  cursor: pointer;
}

.replay .likly span {
  font-size: 13px;
  font-weight: bold;
  color: #777;
  margin-right: 6px;
}

.arabic {
  direction: rtl;
}

/* Start replay-comment */
.replay-comment {
  margin-left: 65px;
}

.replay-comment .image img {
  width: 35px;
  border-radius: 25px;
  object-fit: cover;
  padding: 2px;
  border: 2px solid var(--main-color);
}

.replay-comment .text {
  background: #eef0f2;
  max-width: 250px;
  padding: 10px 15px;
  border-radius: 6px;
  margin-left: 6px;
}

.replay-comment .text h2 {
  font-size: 17px;
  margin-bottom: 5px;
}

.replay-comment .text p {
  line-height: 1.7;
  color: #333;
  margin-bottom: 0;
}

.replay-comment .text p span {
  font-weight: 700;
}

.likly-two {
  margin-left: 110px !important;
}

.replay-view {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
  margin-bottom: 5px;
}

/* End replay-comment */
/* End Replay */
/* Start People */
.people {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 6px;
  padding: 10px 15px;
}

.people .people-see h3 {
  margin: 0;
  font-size: 17px;
  text-transform: capitalize;
}

.people .people-see button {
  color: #0f6fec;
  background-color: rgba(15, 111, 236, 0.1);
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 500;
}

/* End People */
/* Testing */
.people .box-swiper {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.people .box-swiper img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.people .box-swiper .text h2 {
  font-size: 11px;
  margin-bottom: 0;
  font-weight: bold;
  margin-top: 10px;
  color: #666;
}

.people .box-swiper .text button {
  width: 100%;
  height: 30px;
  font-size: 13px;
  border: none;
  background-color: rgba(15, 111, 236, 0.1);
  color: #0f6fec;
  margin: 10px auto 0;
  outline: none;
  border-radius: 6px;
  transition: var(--transation);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.people .box-swiper .text button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.people .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  color: var(--main-color) !important;
}

.people .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  color: var(--main-color) !important;
}

.theEnd-middle {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  background-color: #fff;
  border-radius: 6px;
  font-weight: 600;
  color: #555;
}

.theEnd-middle i {
  color: var(--main-color);
}

/* End */
/* End Middle */


/* Start Right */
.right-head {
  padding: 10px 15px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  z-index: 8;
}

.right-head>h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 10px;
}

.right-head .right-box-head {
  margin-top: 10px;
}

.right-head .right-box-head .image img {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.right-head .right-box-head .text h2 {
  margin-bottom: 0;
  font-size: 20px;
  color: #333;
}

.right-head .right-box-head .text span {
  font-size: 15px;
  color: #777;
}

.right-head .right-box-head .plus i {
  background-color: rgba(15, 111, 236, 0.1);
  color: #0f6fec;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--transation);
}

.right-head .right-box-head .plus i:hover {
  background-color: var(--main-color);
  color: white;
}

.right-head .right-box-head .plus i.editor {
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.right-head .view-more {
  background-color: rgba(15, 111, 236, 0.1);
  color: var(--main-color);
  text-align: center;
  padding: 10px;
  border-radius: 7px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  transition: var(--transation);
}

.right-head .view-more:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* End Right */

/* Start News */
.new {
  padding: 10px 15px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 7px;
}

.new>h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0 10px;
}

.new .new-body {
  margin-bottom: 15px;
}

.new .new-body:last-child {
  margin-bottom: 0;
}

.new .new-body h2 {
  font-size: 18px;
  margin-bottom: 0;
  transition: var(--transation);
  cursor: pointer;
  color: #333;
}

.new .new-body i {
  font-size: 17px;
  color: #666;
  margin-right: 7px;
  cursor: pointer;
}

.new .new-body h2:hover {
  color: var(--main-color);
}

.new .new-body span {
  color: #777;
}

.new .new-body span:last-of-type {
  cursor: pointer;
}

/* End News */

/* Notfigation */
.sticky-top {
  z-index: 8 !important;
}

.notfigation {
  position: absolute;
  left: -100px;
  background: #fff;
  padding: 10px 15px;
  width: 350px;
  z-index: 9;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  opacity: 0;
  pointer-events: none;
  transition: var(--transation);
}

@media (max-width:992px) {
  .notfigation {
    left: -130px;
  }
}

.open-notfigation {
  opacity: 1;
  pointer-events: all;
}

.notfigation .not-srv {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.notfigation .not-srv h4 {
  font-size: 17px;
  margin-bottom: 0;
  margin-right: 10px;
  text-transform: uppercase;
}

.notfigation .not-srv a {
  background: transparent !important;
  color: var(--main-color) !important;
  margin-left: auto !important;
  width: fit-content !important;
  font-weight: 600;
  padding: 0 !important;
}

.notfigation .add-friend {
  background-color: #eef0f2;
  border-radius: 7px;
  padding: 10px 15px;
}

.notfigation .add-friend .image img {
  margin: 0;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}

.notfigation .add-friend .text h2 {
  font-size: 17px;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 10px;
  color: var(--main-color);
}

.notfigation .add-friend .text span {
  color: #777;
  margin-left: 10px;
  font-size: 13px;
}

.notfigation .add-friend .nov-button .not-add {
  margin: 0;
  margin-left: 10px;
  width: 86px;
  height: 40px;
  margin-top: 10px;
  transition: var(--transation);
}

.notfigation .add-friend .nov-button .not-add:first-child {
  background-color: var(--main-color);
  color: #fff;
}

.notfigation .add-friend .nov-button .not-add:hover:first-child {
  background-color: #0d5ec9;
}

.notfigation .add-friend .nov-button .not-add:hover:nth-child(2) {
  background-color: #d6293e !important;
  color: #fff !important;
}

.notfigation .add-friend .just {
  font-size: 11px;
  font-weight: 600;
}

.notfigation .add-friend .birthday {
  width: 100%;
  border: 1px solid #ccc;
  height: 35px;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
}
.notfigation .add-friend .birthday i {
  margin-left: 5px;
}
.notfigation .add-friend .birthday:hover {
  background-color: #f2f2f2;
  color: #333;
}
.col-12:first-child{
  z-index: 2;
}
/* End */