/* Start Global Rule's */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-color: #e3000e;
  --secondry-color: #f7ba1e;
  --background-color: #642f21;
  --text-color: #283034;
  --transition: 0.5s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* End Global Rule's */
/* Start Navbar */
.navbar {
  height: 72px;
  position: absolute;
  width: 100%;
  z-index: 3;
  background-color: transparent;
}

.navbar .nav-item img {
  width: 100px;
}

.navbar .nav-link {
    color: #fff;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      transition: var(--transition);
    }
.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link.navbar .nav-link:hover{
  color: var(--secondry-color);
}
.navbar .container-fluid .navbar-brand {
  margin: 0;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 0.25rem var(--main-color);
}
.navbar .container-fluid .navbar-brand img {
  margin-top: -15px;
  margin-left: 3px;
}

.navbar .content .text h2 {
  color: #ef7f01;
  margin-top: 20px;
  text-transform: uppercase;
  margin: 25px 0 0;
  -webkit-text-stroke: white 1px;
  font-size: 40px;
  -webkit-text-stroke: white 2px;
  font-weight: bold;
}

@media(max-width:992px) {
  .navbar .content .text h2 {
    margin: 0;
  }
}

@media(max-width:992px) {
  .navbar-toggler {
    margin-top: -10px;
  }
}
@media(max-width:992px){
  .navbar-collapse{
        background: white;
          border-radius: 7px;
  }
}
@media(max-width:992px){
  .navbar-nav .nav-link{
        background-color: #fafafa;
          box-shadow: 0 0 5px 0 #fafafa;
          margin-bottom: 11px;
          color: var(--text-color);
  }
}
    .navbar-nav .nav-link:hover{
      color: var(--secondry-color);
    }
.navbar .content .text p {
  color: #831619;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  margin-left: 40px;
  margin-top: -12px;
  -webkit-text-stroke: white 2px;
}

.navbar .toggle-bar {
  color: var(--secondry-color);
  font-size: 25px;
}

.navbar-toggler{
      padding: 10px 15px;
        border: 1px solid white;
        border-radius: 6px;
}
.dropdown-item{
      padding: 15px 10px;
        font-size: 17px;
        background: white;
        font-weight: 400;
        transition: var(--transition);
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  background-color: var(--main-color);
}
.dropdown-item:focus,
.dropdown-item:hover{
  transform: translateX(10px);
  background-color: var(--secondry-color);
  color: white;
}
/* End Navbar */
/* Start Landing */
.landing {
  background-image: url(../image/landing-home/hero-2.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.landing .container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: calc(85vh - 72px);
}

.landing .container .text h3 {
  font-size: 70px;
  text-align: center;
  font-weight: bolder;
  color: var(--main-color);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 3px;
  margin: 110px 0 40px;
  line-height: 1.4;
}

@media(max-width:767px) {
  .landing .container .text h3 {
    font-size: 48px;
    -webkit-text-stroke-width: 2px;
  }
}

.landing .container .carousel-item .row .col-12 .image img {
  width: 60%;
  MAX-WIDTH: 100%;
  object-fit: cover;
  z-index: 2;
}

@media(max-width:992px) {
  .landing .container .carousel-item .row .col-12 .image img {
    width: 100%;
  }
}

.landing .container .carousel-item .row .col-12 .image .span-image {
  background-image: url(../image/landing-home/span-price.png);
  position: absolute;
  top: -35px;
  right: 120px;
  width: 150px;
  height: 146px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
}

@media(max-width:992px) {
  .landing .container .carousel-item .row .col-12 .image .span-image {
    right: 0;
    width: 120px;
    height: 120px;
  }
}

.landing .container .carousel-item .row .col-12 .image .span-image span {
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);
}

@media(max-width:992px) {
  .landing .container .carousel-item .row .col-12 .image .span-image span {
    font-size: 20px;
  }
}

.landing .container .carousel-item .row .col-12 .image .span-image span:last-child {
  font-size: 29px;
}

@media(max-width:992px) {
  .landing .container .carousel-item .row .col-12 .image .span-image span:last-child {
    font-size: 22px;
  }
}

.landing .container .carousel-item {
  z-index: 2;
}

.landing .wave svg {
  position: absolute;
  bottom: 0;
}

/* End Landing */